<a href="https://colab.research.google.com/github/aruanalucena/data-manipulation-exercises/blob/master/Manipulacao_de_Dados_Ex_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)

![Imgur](https://i.imgur.com/mbdq8P5.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [15]:
# Seu código
import pandas as pd
crimes= pd.read_csv('/content/US_Crime_Rates_1960_2014.csv')

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [16]:
# Seu código
crimes.infer_objects

<bound method NDFrame.infer_objects of     Year  Population     Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0   1960   179323175   3384200  ...    912100        1855400         328200
1   1961   182992000   3488000  ...    949600        1913000         336000
2   1962   185771000   3752200  ...    994300        2089600         366800
3   1963   188483000   4109500  ...   1086400        2297800         408300
4   1964   191141000   4564600  ...   1213200        2514400         472800
5   1965   193526000   4739400  ...   1282500        2572600         496900
6   1966   195576000   5223500  ...   1410100        2822000         561200
7   1967   197457000   5903400  ...   1632100        3111600         659800
8   1968   199399000   6720200  ...   1858900        3482700         783600
9   1969   201385000   7410900  ...   1981900        3888600         878500
10  1970   203235298   8098000  ...   2205000        4225800         928400
11  1971   206212000   8588200  ...   2399300        4424200         948200
12  1972   208230000   8248800  ...   2375500        4151200         887200
13  1973   209851000   8718100  ...   2565500        4347900         928800
14  1974   211392000  10253400  ...   3039200        5262500         977100
15  1975   213124000  11292400  ...   3265300        5977700        1009600
16  1976   214659000  11349700  ...   3108700        6270800         966000
17  1977   216332000  10984500  ...   3071500        5905700         977700
18  1978   218059000  11209000  ...   3128300        5991000        1004100
19  1979   220099000  12249500  ...   3327700        6601000        1112800
20  1980   225349264  13408300  ...   3795200        7136900        1131700
21  1981   229146000  13423800  ...   3779700        7194400        1087800
22  1982   231534000  12974400  ...   3447100        7142500        1062400
23  1983   233981000  12108600  ...   3129900        6712800        1007900
24  1984   236158000  11881800  ...   2984400        6591900        1032200
25  1985   238740000  12431400  ...   3073300        6926400        1102900
26  1986   240132887  13211869  ...   3241410        7257153        1224137
27  1987   242282918  13508700  ...   3236184        7499900        1288674
28  1988   245807000  13923100  ...   3218100        7705900        1432900
29  1989   248239000  14251400  ...   3168200        7872400        1564800
30  1990   248709873  14475600  ...   3073900        7945700        1635900
31  1991   252177000  14872900  ...   3157200        8142200        1661700
32  1992   255082000  14438200  ...   2979900        7915200        1610800
33  1993   257908000  14144800  ...   2834800        7820900        1563100
34  1994   260341000  13989500  ...   2712800        7879800        1539300
35  1995   262755000  13862700  ...   2593800        7997700        1472400
36  1996   265228572  13493863  ...   2506400        7904700        1394200
37  1997   267637000  13194571  ...   2460526        7743760        1354189
38  1998   270296000  12475634  ...   2329950        7373886        1240754
39  1999   272690813  11634378  ...   2100739        6955520        1152075
40  2000   281421906  11608072  ...   2050992        6971590        1160002
41  2001   285317559  11876669  ...   2116531        7092267        1228391
42  2002   287973924  11878954  ...   2151252        7057370        1246646
43  2003   290690788  11826538  ...   2154834        7026802        1261226
44  2004   293656842  11679474  ...   2144446        6937089        1237851
45  2005   296507061  11565499  ...   2155448        6783447        1235859
46  2006   299398484  11401511  ...   2183746        6607013        1192809
47  2007   301621157  11251828  ...   2176140        6568572        1095769
48  2008   304374846  11160543  ...   2228474        6588046         958629
49  2009   307006550  10762956  ...   2203313        6338095         795652
50  2010   309330219  10363873  ...   2168457        6204601         739565
51  2011   311587816  10258774  ...   2185140        6151095         716508
52  2012   313873685  10219059  ...   2109932        6168874         723186
53  2013   316497531   9850445  ...   1931835        6018632         700294
54  2014   318857056   9475816  ...   1729806        5858496         689527

[55 rows x 12 columns]>

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [18]:
# Seu código
crimes['Year']= pd.to_datetime(crimes["Year"], format="%Y")
crimes.dtypes

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [19]:
# Seu código
vrimes= us_crime_df.set_index('Year')
display(crimes.head())

        Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0 1960-01-01   179323175  3384200  ...    912100        1855400         328200
1 1961-01-01   182992000  3488000  ...    949600        1913000         336000
2 1962-01-01   185771000  3752200  ...    994300        2089600         366800
3 1963-01-01   188483000  4109500  ...   1086400        2297800         408300
4 1964-01-01   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [20]:
# Seu código
crimes.drop('Total', axis=1)
crimes.head()

        Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0 1960-01-01   179323175  3384200  ...    912100        1855400         328200
1 1961-01-01   182992000  3488000  ...    949600        1913000         336000
2 1962-01-01   185771000  3752200  ...    994300        2089600         366800
3 1963-01-01   188483000  4109500  ...   1086400        2297800         408300
4 1964-01-01   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

In [22]:
crimes

         Year  Population     Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960-01-01   179323175   3384200  ...    912100        1855400         328200
1  1961-01-01   182992000   3488000  ...    949600        1913000         336000
2  1962-01-01   185771000   3752200  ...    994300        2089600         366800
3  1963-01-01   188483000   4109500  ...   1086400        2297800         408300
4  1964-01-01   191141000   4564600  ...   1213200        2514400         472800
5  1965-01-01   193526000   4739400  ...   1282500        2572600         496900
6  1966-01-01   195576000   5223500  ...   1410100        2822000         561200
7  1967-01-01   197457000   5903400  ...   1632100        3111600         659800
8  1968-01-01   199399000   6720200  ...   1858900        3482700         783600
9  1969-01-01   201385000   7410900  ...   1981900        3888600         878500
10 1970-01-01   203235298   8098000  ...   2205000        4225800         928400
11 1971-01-01   206212000   8588200  ...   2399300        4424200         948200
12 1972-01-01   208230000   8248800  ...   2375500        4151200         887200
13 1973-01-01   209851000   8718100  ...   2565500        4347900         928800
14 1974-01-01   211392000  10253400  ...   3039200        5262500         977100
15 1975-01-01   213124000  11292400  ...   3265300        5977700        1009600
16 1976-01-01   214659000  11349700  ...   3108700        6270800         966000
17 1977-01-01   216332000  10984500  ...   3071500        5905700         977700
18 1978-01-01   218059000  11209000  ...   3128300        5991000        1004100
19 1979-01-01   220099000  12249500  ...   3327700        6601000        1112800
20 1980-01-01   225349264  13408300  ...   3795200        7136900        1131700
21 1981-01-01   229146000  13423800  ...   3779700        7194400        1087800
22 1982-01-01   231534000  12974400  ...   3447100        7142500        1062400
23 1983-01-01   233981000  12108600  ...   3129900        6712800        1007900
24 1984-01-01   236158000  11881800  ...   2984400        6591900        1032200
25 1985-01-01   238740000  12431400  ...   3073300        6926400        1102900
26 1986-01-01   240132887  13211869  ...   3241410        7257153        1224137
27 1987-01-01   242282918  13508700  ...   3236184        7499900        1288674
28 1988-01-01   245807000  13923100  ...   3218100        7705900        1432900
29 1989-01-01   248239000  14251400  ...   3168200        7872400        1564800
30 1990-01-01   248709873  14475600  ...   3073900        7945700        1635900
31 1991-01-01   252177000  14872900  ...   3157200        8142200        1661700
32 1992-01-01   255082000  14438200  ...   2979900        7915200        1610800
33 1993-01-01   257908000  14144800  ...   2834800        7820900        1563100
34 1994-01-01   260341000  13989500  ...   2712800        7879800        1539300
35 1995-01-01   262755000  13862700  ...   2593800        7997700        1472400
36 1996-01-01   265228572  13493863  ...   2506400        7904700        1394200
37 1997-01-01   267637000  13194571  ...   2460526        7743760        1354189
38 1998-01-01   270296000  12475634  ...   2329950        7373886        1240754
39 1999-01-01   272690813  11634378  ...   2100739        6955520        1152075
40 2000-01-01   281421906  11608072  ...   2050992        6971590        1160002
41 2001-01-01   285317559  11876669  ...   2116531        7092267        1228391
42 2002-01-01   287973924  11878954  ...   2151252        7057370        1246646
43 2003-01-01   290690788  11826538  ...   2154834        7026802        1261226
44 2004-01-01   293656842  11679474  ...   2144446        6937089        1237851
45 2005-01-01   296507061  11565499  ...   2155448        6783447        1235859
46 2006-01-01   299398484  11401511  ...   2183746        6607013        1192809
47 2007-01-01   301621157  11251828  ...   2176140        6568572        1095769
48 2008-01-01   304374846  11160543  ...   2228474        6588046         958629
49 2009-01-01   307006550  10762956  ...   2203313        6338095         795652
50 2010-01-01   309330219  10363873  ...   2168457        6204601         739565
51 2011-01-01   311587816  10258774  ...   2185140        6151095         716508
52 2012-01-01   313873685  10219059  ...   2109932        6168874         723186
53 2013-01-01   316497531   9850445  ...   1931835        6018632         700294
54 2014-01-01   318857056   9475816  ...   1729806        5858496         689527

[55 rows x 12 columns]

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [23]:
# Seu código
crimes.loc[1978,'Vehicle_Theft']

KeyError: ignored

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [24]:
# Seu código
crimes.max()

Year                  2014-01-01 00:00:00
Population                      318857056
Total                            14872900
Violent                           1932270
Property                         12961100
Murder                              24700
Forcible_Rape                      109060
Robbery                            687730
Aggravated_assault                1135610
Burglary                          3795200
Larceny_Theft                     8142200
Vehicle_Theft                     1661700
dtype: object

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [25]:
# Seu código
crimes.min()

Year                  1960-01-01 00:00:00
Population                      179323175
Total                             3384200
Violent                            288460
Property                          3095700
Murder                               8530
Forcible_Rape                       17190
Robbery                            106670
Aggravated_assault                 154320
Burglary                           912100
Larceny_Theft                     1855400
Vehicle_Theft                      328200
dtype: object

**Parabéns! Você chegou ao fim**